.Transportation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Transportation li {
    display: inline-block;
    margin:20px;
}

.Transportation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.Transportation a:hover,
.Transportation a:active
.Transportation a.active {
    color: #fa923f;
}