.Info {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .TableInfo {
    margin-top: 10px;
  }
  
  .TableInfo th {
    text-align: center;
  }
  
  .ButtonToolBar {
    display: flex;
    justify-content: center;
  }
  
  .Info h3 {
    background-color: #337ab7;
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
    font-size: 24px;
  }