.pagination-custom {
  justify-content: center;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination>li {
  display: inline;
}

.pagination>li>a, 
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/*
*   CSS for View
*/
body {
  line-height: 1 !important;
  font-size: 12px !important;
}

.app-header {
  height: 35px !important;
}

.navbar {
  padding: 0 !important;
}

.app-body {
  margin-top: 35px !important;
}

.sidebar {
  height: calc(100vh - 35px) !important;
}

.form-control {
  padding: 2px !important;
  height: 27px !important;
  font-size: 12px !important;
  margin-top: 1px !important;
}

.input-group-text {
  height: 27px !important;
}

.input-group-append {
  height: 27px !important;
}

.btn {
  font-size: 12px !important;
}

select.form-control:not([size]):not([multiple]) {
  height: 27px !important;
}

.ButtonGroup button {
  margin: 3px !important;
} 
