.Info {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    padding: 10px;
}

.TableInfo {
    margin-top: 10px;
}

.TableInfo th {
    text-align: center;
}